
/*item*/
li {
    list-style: none;
    height: 36px;
    line-height: 36px;
    padding: 10px 5px;
    border-bottom: 1px solid #ddd;
}
  
li button {
    float: right;
    display: none;
    margin-top: 7px;
}
  
li:before {
    content: initial;
}
  
li:last-child {
    border-bottom: none;
}

.list-item {
    margin-left: 20px;
}

.btn-danger {
    color: #fff;
    background-color: #da4f49;
    border: 1px solid #bd362f;
    margin-right: 10px;
  }
  
.btn-danger:hover {
    color: #fff;
    background-color: #bd362f;
}  

li label input {
    width: 14px;
    height: 14px;
}
